<div class='post-container'>

    <article id="<%= post.id %>">
      <a href='/posts/<%= post.id %>/vote' class="fa fa-sort-desc vote-button"></a>
      <h2><a href='/posts/<%= post.id %>'><%= post.title %></a></h2>
      <p>
        <span class='points'><%= post.points %></span>
        <span class='username'><%= post.author %></span>
        <span class='timestamp'><%= post.time_since_creation %></span>

      </p>
    </article>


</div>

<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="Title:">
  <input type="submit" value="Submit New Post">
</form>
