<div class='post-container'>
  <% @posts.each do |post| %>

    <article id="<%= post.id %>">
      <a href='/posts/<%= post.id %>/vote' class="fa fa-sort-desc vote-button"></a>
      <span class='points'><%= post.points %></span>
       <a href='/posts/<%= post.id %>/downvote' class="fa fa-sort-asc vote-down"></a>
      <h2><a href='/posts/<%= post.id %>'><%= post.title %></a></h2>
      <p>
        <span class='username'><%= post.user %></span>
        <span class='timestamp'><%= post.comment_count %></span>
        <span class='timestamp'><%= post.time_since_creation %></span>
        <a class="delete" href='/posts/<%= post.id %>'></a>
      </p>
    </article>

  <% end %>
</div>

<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="Title:">
  <input type="submit" value="submit new post">
</form>
